/* basis////////////////////////////////////////////////////////////////////////////////////// */


body { 
  color: rgb(57, 56, 139);
  background-color: #9394da; }

hr{
    border: 1px solid rgb(103, 84, 200);
  }


/* koptekst////////////////////////////////////////////////////////////////////////////////////// */


h1, h2, h3, h4, p, li {
  font-size: 4em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  }

  h2 {
  font-size: 4em;
  }

h3 {
  font-size: 3em;
  }

h4 {
  font-size: 2.4em;
  color: rgb(104, 86, 207)
}

p {
  font-size: 2em;
  text-align: start
  }

li {
  font-size: 1.4em;
  text-align: center
}


/* navigatie////////////////////////////////////////////////////////////////////////////////////// */


header ul:first-of-type {
  display: flex;
  justify-content: space-between;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 200%;
  margin-left: 16%;
  margin-top: 13%;
  list-style-type: none;
  font-size: 2em;
  }

header li {
    background-color: rgb(169, 168, 255);
    padding: 2%;
    padding-left: 8%;
    padding-right: 8%;
  }

.items{
  display: flex;
  text-align: center;
  list-style-type: none;
  flex-direction: column;
  }

.items li {
  background-color: rgb(169, 168, 255);
  padding: 5%;
  padding-left: 8%;
  padding-right: 8%;
}


.items div {
display: flex;
justify-content: space-evenly;
margin-top: 5%;
}


  /* afbeeldingen////////////////////////////////////////////////////////////////////////////////////// */


.katten {
  display: flex;
  margin-bottom: 5%
  }

.katten img{
  width: 90%;
  }

.laurie {
  background-color: rgb(255, 126, 236);
  color:blueviolet;
  width: 80%;
  padding: 5%;
  margin-right: 4%;
  margin-left: 4%;
  }

.louie {
  background-color: rgb(141, 255, 191);
  color: rgb(35, 158, 148);
  width: 80%;
  padding: 5%;
  margin-right: 4%;
  margin-left: 4%;
  }


 /* structuur////////////////////////////////////////////////////////////////////////////////////// */ 

header {
  display: flex;
  margin-left: 2%;
  justify-content: stretch;
  }

/* voorpagina////////////////////////////////////////////////////////////////////////////////////// */

.vp ul:first-of-type {
  width: 48%;
  margin-left: 37%;
  margin-top: 5%;
  font-size: 1.5em;
  }

.voorpag{
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
  }
  
.afb{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  }

.logo{
  width: 114%;
  margin-left: 20%
  }

.poezen{ 
  width: 130%;
  margin-left: 20%;
  margin-top: 5%;
  }


.vp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

.textvp { 
  background-color: rgb(173, 175, 255);
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 37%;
  margin-top: 2%;
  }


/* galerij////////////////////////////////////////////////////////////////////////////////////// */


.galerij{
    display: flex;
    justify-content: space-between;
    width: 100%;
    }


.galerij div{
  width: 100%;
  justify-content: space-between;
  padding: 5%;
  border: solid black ;
  }


.galerij img {
  width: 80%;
}


/* verhaaltjes////////////////////////////////////////////////////////////////////////////////////// */

/* .verhaaltjes div {
  padding: 1%;
  margin-bottom: 5%;
}

.verhaaltjes div div{
  display: flex
}


.verhaaltjes div:nth-of-type(odd){background-color: blue} */


.verhaaltje{
  display: flex;
  width: 90%;
  padding: 2%;
  border: 1px solid #ccc;
  flex-direction: row;
}


/* HELP HELP WAAHHHH WAAAAAAAAHHHH */

.verhaaltje2{
  display: flex;
  width: 90%;
  padding: 2%;
  border: 1px solid #ccc;
  flex-direction: row-reverse;
}